name: JS/TS Linting

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Standard JS Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run Standard Lint
        run: pnpm exec ts-standard "**/*.{js,ts,tsx}"
